<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Duplicate Checker</title>
    </head>
    <body>
        <h1>Duplicate Checker</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label for="input">Upload a csv file:</label>
            <input type="file" id="the_file" name="the_file" required />
            <button type="submit">Check</button>
        </form>
    </body>
</html>
